@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Poppins', sans-serif;
}

h1{
   font-size: 2.5rem;
   font-weight: 700;
}

h2{
   font-size: 1.8rem;
   font-weight: 600;
}

h3{
   font-size: 1.4rem;
   font-weight: 800;
}

h4{
   font-size: 1.1rem;
   font-weight: 600;
}

h5{
   font-size: 1rem;
   font-weight: 400;
   color: #1d1d1d;
}

h6{
   color: #d8d8d8;
}

button.btn{
   font-size: 0.8rem;
   font-weight: 700;
   outline: none;
   border: none;
   padding: 13px;
   text-transform: uppercase;
   background-color: #1d1d1d;
   color: aliceblue;
   cursor: pointer;
   transition: 0.3s ease;
}

button:hover{
   background-color: coral;
}

hr{
   width: 30px;
   height: 2px;
   background-color: coral;
}

.star{
   padding: 10px 0;
}

.star i{
   font-size: 0.8rem;
   color: goldenrod;
}

/* Navbar Style */
.navbar{
   font-size: 20px;
   top: 0;
   left: 0;
   box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.nav-logo{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}

.navbar-light .navbar-brand{
   font-size: 2.2rem;
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-collapse .navbar-nav .nav-link{
   color: black;
   padding: 0 20px;
   transition: 0.3s ease;
}

.navbar-light .navbar-collapse .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar i:active,
.navbar-light .navbar-collapse .navbar-nav .nav-link:active{
   color: coral;
}

.navbar i{
   padding: 0 7px;
   font-size: 1.3rem;
   cursor: pointer;
   transition: 0.3s ease;
}

/* Mobile Navbar */

.navbar-light .navbar-toggler{
   border: none;
   outline: none;
}

.navbar-light .navbar-toggler-icon{
   font-size: 2rem;
   padding: 30px;
}

.navbar-light .navbar-collapse .navbar-nav .nav-link{
   padding: 10px;
   font-size: 1.5rem;
   font-weight: 600;
}

/* Home Page */

#home {
   background-image: url("/static/images/background/3.png");
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: top 60px center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start; 
}

#home p{
   font-size: large;
   font-weight: 500;
   text-transform: capitalize;
}

#home span{
   color: coral;
}

/* Featured Product */

.product{
   cursor: pointer;
   margin-bottom: 2rem;
}

.product img{
   transition: 0.3s all;
}

.product:hover img{
   opacity: 0.7;
}

.product .buy-btn{
   background-color: coral;
   transform: translateY(20px);
   transition: 0.3s all;
   opacity: 0;
}

.product:hover .buy-btn{
   opacity: 1;
   transform: translateY(0);
}

/* Banner section */

#banner{
   background-image: url("/static/images/banner/bannarMen.png");
   width: 100%;
   height: 60vh;
   background-size: cover;
   background-position: top 70px center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start; 
}

#banner h4{
   color: rgb(202, 192, 192);
}

#banner h1{
   color: #fff;
}

/* Footer */

footer{
   background-color: #222222;
}

footer h2{
   color:coral;
   font-weight: 700;
}

footer h5{
   color: #d8d8d8;
   font-weight: 700;
   font-size: 1.2rem;
}

footer li{
   padding-bottom: 4px;
}

footer li a{
   font-size: 0.8rem;
   color:#999;
}

footer li a:hover{
   color: #d8d8d8; 
   text-decoration: none;
}

footer p{
   color:#999;
   font-size: 0.8rem;
}

footer .copyright a{
   color: black;
   width: 38px;
   height: 38px;
   background-color: white;
   display: inline-block;
   text-align: center;
   line-height: 38px;
   border-radius: 50%;
   transition: 0.3 ease;
   margin: 0 5px;
}

footer .copyright a:hover{
   background-color: coral;
}

/* Shop Page */

.product img{
   width: 100%;
   height: auto;
   box-sizing: border-box;
   object-fit: cover;
}

#featured > div.row.mx-auto.container > nav > ul > li.page-item.active > a{
   background-color: black;
}

#featured > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover>a{
   background-color: coral;
   color: white;
}

.pagination a{
   color: black;
}

/* Product Page */

#featured .product .product-link {
   text-decoration: none;
   color: #1d1d1d;
}

.s-product .small-imgs{
   display:flex;
   justify-content: space-between;
}

.s-product .small-imgs .small-img-col{
   flex-basis: 24%;
   cursor: pointer;
}

.s-product select{
   display:block;
   padding: 5px 10px;
}

.s-product input{
   width: 50px;
   height: 40px;
   padding-left: 10px;
   font-size: 16px;
   margin-right: 10px;
}
.s-product input:focus{
   outline: none;
}
.s-product .buy-btn{
   background-color: coral;
   opacity: 1;
   transition: 0.3s all;
}

/* Top Button Home page */

#myBtn {
   display: none; 
   position: fixed; 
   bottom: 20px; 
   right: 20px; 
   z-index: 99; 
   border: none; 
   outline: none; 
   background-color: rgb(71, 60, 60); 
   color: white; 
   cursor: pointer; 
   padding: 10px; 
   border-radius: 30%; 
   font-size: 2rem; 
   font-weight: 700;
 }
 
 #myBtn:hover {
   background-color: #555; /* Add a dark-grey background on hover */
 }

/* Contact Page */

.contact .contact-icons ul li:hover{
   color: coral;
   cursor: pointer;
}

.contact .btn-primary{
   background-color: #1d1d1d;
   width: 100px;
   height: 40px;   
}

.contact .btn-primary:hover{
   background-color: coral;
}

.contact  textarea.form-control{
   height: 120px;
}

/* Login Page */

.login-body{
   height: 100vh;
   background-color: #d4d4d4;
}

.login{
   width: 400px;
   margin: auto;
   /* margin-top: 50px; */
   height: min-content;
   padding: 20px;
   border-radius: 12px;
   background-color:#fff;
}

.login h1{
   font-size: 36px;
   margin-bottom: 25px;
}

.login form{
   font-size: 20px;
}

.login form .form-group{
   margin-bottom: 12px;
}

.login form input[type="submit"]{
   font-size: 20px;
   margin-top: 15px;
   background-color: black;
   color: white;
}

.login form input[type="submit"]:hover{
   background-color: coral;
   color: black;
}

.login form .register-link{
   color: black;
   display:block;
   margin-top: 20px;
   text-align: center;
   font-size: 1rem;
   font-weight: 500;
}
 
.flash{
   position: absolute;
   margin: auto;
   width: 100%;
   margin-top: 120px;
   z-index: 1500;
}  

/* JoBa. Link */

.login form .joba-link{
   color:coral;
   display:block;
   margin-top: 15px;
   text-align: center;
   font-size: 2rem;
   font-weight: 900;
}
