{% extends 'base.html' %}

{% block body %}

<section id="contact" class="container my-5 py-5">
    <div class="container mt-5 pt-5">
        <h1 class="font-weight-bold">Get in touch with us</h1>
        <hr>
        <div class="info-icon">
            <a><i class="fa-solid fa-envelope"></i></a>
            <a href = "mailto: the1yousef98@gmail.com" class="email-link">the1yousef98@gmail.com</a>
        </div>
        <div class="info-icon">
            <a><i class="fa-solid fa-phone"></i></a>
            <a>+970568652646</a>
        </div>
        <div class="info-icon">
            <a><i class="fa-solid fa-location-dot"></i></a>
            <a>Palestine, Gaza, Rafah</a>
        </div>
    </div>

    <div class="container mt-5 pt-5">
        <form>
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
            <input type="email" placeholder="Email">
            <br>
            <input type="" placeholder="Message">
            <br>
            <button>Send Message</button>
        </form>
    </div>
  </section>

{% endblock%}