{% extends 'base.html' %}

{% block body %}

  <section id="home">
    <div class="container">
      <h3><span>50%</span> Discount For Every Product<br> You Buy Before</h3>



      <!-- Note Here You Must Add Js Timer -->



      <p>We are working to make the online shopping experience <br>better &
        faster</p>
      <h5>Why We Are: </h5>
      <ul>
        <li> <img src="static/images/why-we-are/1.webp"></li>
        <li> <img src="static/images/why-we-are/2.webp"></li>
        <li> <img src="static/images/why-we-are/3.webp"></li>
      </ul>
      <button>Shop Now</button>
      
    </div>
  </section>
  
{% endblock%}

