{% extends 'base.html' %}

{% block body %}

    <section class="container s-product my-5 pt-5">
        <div class="row mt-5">
            <div class="col-lg-5 col-md-12 col-12">
                <img class="img-fluid w-100 py-1" src="static\images\img\shop\1.jpg" alt="">
                <div class="small-imgs">
                    <div class="small-img-col">
                        <img src="static/images/img/shop/1.jpg" alt="" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="static/images/img/shop/24.jpg" alt="" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="static/images/img/shop/25.jpg" alt="" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="static/images/img/shop/26.jpg" alt="" width="100%" class="small-img">
                    </div>
                </div>
            </div>


            
        </div>
    </section>

{% endblock %}