{% extends 'base.html' %}

{% block body %}

<section id="featured" class="my-5 py-5">
    <div class="container mt-5 py-5">
        <h2 class="font-weight-bold">Our Featured</h2>
        <hr>
        <p>Here you can check out our new product with fair price on JoBa.</p>
    </div>
    <div class="row mx-auto container">
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\9.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Sport Bag For Gym</h5>
            <h4 class="product-price">$59.00</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\10.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Classic Watch</h5>
            <h4 class="product-price">$119.99</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="static\images\img\shop\11.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Women Hat</h5>
            <h4 class="product-price">$37.50</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\12.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Sport Shoes</h5>
            <h4 class="product-price">$24.95</h4>
            <button class=" btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\13.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Classic Watch 2022</h5>
            <h4 class="product-price">$113.99</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\14.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Fila Men's Training Shoe</h5>
            <h4 class="product-price">$77.19</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="static\images\img\shop\15.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Beanie - Men's</h5>
            <h4 class="product-price">$35.00</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\16.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">T-Shirt - Men's</h5>
            <h4 class="product-price">$24.95</h4>
            <button class=" btn buy-btn">Buy Now</button>
          </div>

          <!-- Pagination -->
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="shop1">Previous</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="shop1">1</a>
              </li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="shop2">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="shop3">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="shop3">Next</a>
              </li>
            </ul>
          </nav>
    </div>
  </section>

{% endblock%}