{% extends 'base.html' %}

{% block body %}

<section id="featured" class="my-5 py-5">
    <div class="container mt-5 py-5">
        <h2 class="font-weight-bold">Our Featured</h2>
        <hr>
        <p>Here you can check out our new product with fair price on JoBa.</p>
    </div>
    <div class="row mx-auto container">
                <div onclick="window.location.href='product' ;" class="product text-center col-lg-3 col-md-4 col-12">
                    <!-- <a href="product" class="product-link"> -->
                        <img class="img-fluid mb-3 w" src="static\images\img\shop\1.jpg" alt="">
                            <div class="star">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                            </div>
                        <h5 class="product-name">T-Shirt - Men's</h5>
                        <h4 class="product-price">$24.00</h4>
                        <button class="btn buy-btn">Buy Now</button>
                  <!-- </a> --> 
              </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3 w" src="static\images\img\shop\2.jpg" alt="">
              <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
          <h5 class="product-name">Fila Men's Fulcrum 3 Training Shoe</h5>
          <h4 class="product-price">$19.19</h4>
          <button class="btn buy-btn">Buy Now</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="static\images\img\shop\3.jpg" alt="">
              <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
          <h5 class="product-name">Work Bag</h5>
          <h4 class="product-price">$65.00</h4>
          <button class="btn buy-btn">Buy Now</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3 w" src="static\images\img\shop\4.jpg" alt="">
              <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
          <h5 class="product-name">Light Shoes</h5>
          <h4 class="product-price">$24.95</h4>
          <button class=" btn buy-btn">Buy Now</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\5.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Beanie</h5>
            <h4 class="product-price">$20.75</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\6.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Womens Coat</h5>
            <h4 class="product-price">$85.19</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="static\images\img\shop\7.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Sneaker</h5>
            <h4 class="product-price">$70.00</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\8.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Men's Jackets</h5>
            <h4 class="product-price">$50.55</h4>
            <button class=" btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\9.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Sport Bag For Gym</h5>
            <h4 class="product-price">$59.00</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\10.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Classic Watch</h5>
            <h4 class="product-price">$119.99</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="static\images\img\shop\11.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Women Hat</h5>
            <h4 class="product-price">$37.50</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\12.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Sport Shoes</h5>
            <h4 class="product-price">$24.95</h4>
            <button class=" btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\13.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Classic Watch 2022</h5>
            <h4 class="product-price">$113.99</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\14.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Fila Men's Training Shoe</h5>
            <h4 class="product-price">$77.19</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="static\images\img\shop\15.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Beanie - Men's</h5>
            <h4 class="product-price">$35.00</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\16.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">T-Shirt - Men's</h5>
            <h4 class="product-price">$24.95</h4>
            <button class=" btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\17.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Women Blouse</h5>
            <h4 class="product-price">$59.00</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\18.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Beanie</h5>
            <h4 class="product-price">$19.19</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="static\images\img\shop\19.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">Men Black Hoodies</h5>
            <h4 class="product-price">$80.00</h4>
            <button class="btn buy-btn">Buy Now</button>
          </div>
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3 w" src="static\images\img\shop\20.jpg" alt="">
                <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
            <h5 class="product-name">3 Pieces Of out suit</h5>
            <h4 class="product-price">$24.95</h4>
            <button class=" btn buy-btn">Buy Now</button>
          </div>

          <!-- Note: Here You Must Program Pagination-->
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link">Previous</a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item" aria-current="page">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </div>
  </section>

{% endblock%}